@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1em;
    font-family: "Poppins", sans-serif;
    background-image: url('../images/login_bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div.form {
    width: 20rem;
    height: 21rem;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
    padding: 2em;
    margin-top: 13em;
    text-align: center;
    border-radius: 0.5em;
}

a {
    color: blue;
    text-decoration: none;
}

form.form_list {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 20rem;
    height: 20vh;
}

form.form_list input {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

div.form h1 {   
    margin-bottom: 1rem;
    color: black;

}

div.form p {
    margin-top: 2em;
}

input:focus {
    outline: none;
}

label a {
    margin-left: 11rem;
    text-decoration: underline;
    padding-top: -2em;
    margin-bottom: -1em;
    font-size: 90%;
}

p.Create_new a {
    font-size: 120%;
    font-weight: bold;
    color: gray;
    text-decoration: underline;
}

div.form p input {
    margin-right: 0.5em;
}

button.enter_btn {
    font-size: 105%;
    width: 100%;
    letter-spacing: 2px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: -1em;
    background-color: #f36d0c;
    border: none;
    color: white;
    border-radius: 10px;
}

button.enter_btn:hover {
    font-size: 105%;
    letter-spacing: 2px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em; 
    margin-bottom: -1em;
    background-color: #0c92f3;
    color: white;
    border-radius: 10px;
}

p.login {
    margin-bottom: -1.5em;
}