@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  width: 90vmin;
  padding: 50px 30px;
  margin-top: -2rem;
  position: sticky;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.06);
}

h2.create_head {
  text-align: left;
  margin-left: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-top: 3em;
}

div.cover_image {
  width: 100%;
  background: url("../images/upload_banner.jpg") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
  border-radius: 0.5em;
  margin-bottom: -3.2em;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid gray;
}

div.cover_inputs label {
  text-decoration: none;
  font-size: 88%;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: gray;
  padding: 0.4rem;
  width: 30%;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}
div.cover_inputs label i {
  margin-left: 0.3rem;
  margin-bottom: 1em;
}
input:focus {
  outline: none;
  border: none;
}

div.post_button {
  margin-top: 1em;
}

div.post_button button:nth-child(1) {
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 90%;
  background-color: blue;
  margin-right: 0.5em;
  color: white;
  border: none;
  border-radius: 5px;
}

div.post_button button:nth-child(2) {
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 90%;
  background-color: blue;
  margin-right: 0.5em;
  color: white;
  border: none;
  border-radius: 5px;
}

div.post_button button:nth-child(3) {
  padding: 8px 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 80%;
  background-color: white;
  margin-right: 0.5em;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
}

div.inputs input[type="submit"] {
  padding: 10px 15px;
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  background-color: #f0f0f0;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

div.inputs input[type="file"] {
  opacity: 0;
  cursor: pointer;
  margin-left: -13.5em;
  width: 64%;
  height: 64%;
  font-size: 80%;
}

div.inputs input[type="text"] {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 180%;
  margin-top: 2rem;
  padding: 8px 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

div.inputs input[type="search"] {
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  padding: 8px 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

div.input_tag input[type="search"] {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  margin-bottom: 1rem;
  padding: 8px 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

div.options button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}

.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 45vh;
}

.active {
  background-color: #e0e9ff;
}