* {
    margin: 0;
    padding: 0;
}

div.notific_main {
    max-width: 60rem;
    margin: auto;
    padding: 2em;
}

div.notific_main h1 {
    padding-top: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.notific_main h1 sup {
    margin-left: 0.5rem;
    font-size: 50%;
}

div.notific_top {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div.notific_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-left: 3px solid orange;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
    height: 5rem;
}

div.notific_profile img.profile_pic{
    margin-right: 0.5rem;
    margin-left: 1.5rem;
    border: 3px solid orange;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
}

div.notific_profile p.post-description {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    opacity: 100%;
    font-size: 80%;
    text-align: left;
    max-width: 20rem;
}

p.time_data {
   display: flex;
}

div.notific_profile strong.bold {
    opacity: 80%;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

