* {
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif;
}

div.post_page {
    max-width: 50rem;
    height: 100%;
    margin: auto;
    text-align: justify;
    background-color: white;
    padding: 1.5rem;
    padding-top: 7rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

div.post_page img {
    border-radius: 1rem;
}

div.post_page h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: orange;
}

div.post_page p {
    margin-bottom: 1rem;
}

div.post_page ol li {
    margin-left: 3rem;
    color: gray;
    margin-bottom: 0.5rem;
}

div.post_page h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.post_page ul {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

div.react_icons {
    padding: 20px 20px 2px 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

div.icon_main { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 2rem;
    max-height: 2rem;
}

div.icon_main p {
    font-size: 80%;
    font-weight: bold;
}

div.icon_main p img {
    width: 1.5rem;
}

div.icon_main p.cmt_icon {
    max-width: 2.5vw;
    margin-left: 2rem;
}

div.side_main {
    max-width: 1.5rem;
    font-size: 80%;
    font-weight: bold;  
}

button.share_icon {
    background: none;
    border-radius: 3em;
    border-color: red;
    float: right;
    margin: 1rem;
    margin-right: -0.5rem;
}

button.share_icon ion-icon {
    font-size: 180%;
    margin: 0.5rem;
}

div.comment_area {
    background-color: white;
    height: 30rem;
    max-width: 100%;
    margin-top: 2rem;
    overflow-y: scroll;
    padding: 1.5rem;
}

div.comment_area textarea {
    resize: none;
    margin-bottom: 1rem;
    width: 100%;
    margin-right: -3rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border: none;
    box-shadow: 1px 2px 6px 2px rgb(0 0 0 / 15%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 105%;
    border-radius: 1.5rem;
}

button#heart {
    background-color: white;
    border: none;
  }
  
  button#heart.clicked {
    background-color: pink;
  }

  
div.comment_area textarea:focus {
    outline: none;
}

div.comment_area textarea::-webkit-scrollbar {
    display: none;
}

form.form_data {
    display: flex;
    justify-content: space-between;
}

form.form_data button {
    background-color: transparent;
    width: 3rem;
    height: 3.5rem;
    border: none;
    /* box-shadow: 1px 2px 6px 2px rgb(0 0 0 / 15%); */
    border-radius: 3rem;
    font-size: 110%;
}

div.comment_area h4 {
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

div.notific_profile {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

div.notific_profile div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

strong {
    font-size: 90%;
}

div.comment_area p.comment_txt {
    font-size: 80%;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}
div.notific_profile a img.profile_img {
    border-radius: 2rem;
    max-width: 2rem;
    max-height: 4.5vh;
    margin-right: 0.5rem;
}
div.notific_profile img {
    width: 100%;
}

div.notific_profile p {
    color: black;
    font-size: 95%;
}

div.notific_profile p span {
    color: gray;
    font-size: 90%;
}