* {
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif;
}

div.post_page {
    max-width: 50%;
    height: 100%;
    margin: auto;
    text-align: justify;
    background-color: white;
    padding: 1.5em;
    padding-top: 7em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

div.post_page img {
    border-radius: 1em;
}

div.post_page h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: orange;
}

div.post_page p {
    margin-bottom: 1em;
}

div.post_page ol li {
    margin-left: 3em;
    color: gray;
    margin-bottom: 0.5em;
}

div.post_page h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.post_page ul {
    margin-left: 3em;
    margin-bottom: 1em;
}

div.react_icons {
    padding: 3px 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

div.icon_main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 2%;
    max-height: 2%;
    margin-top: 1.5em;
}

div.icon_main p {
    font-size: 80%;
    font-weight: bold;
}

div.icon_main p img {
    width: 2.5vw;
}

div.icon_main p.cmt_icon {
    max-width: 2.5vw;
    margin-left: 2em;
}

div.side_main {
    max-width: 2.5vw;
    font-size: 80%;
    font-weight: bold;
}

div.comment_area {
    background-color: white;
    height: 30em;
    width: 94%;
    margin-top: 2em;
    overflow-y: scroll;
    padding: 1.5em;
}

div.comment_area textarea {
    resize: none;
    margin-bottom: 1em;
    width: 60%;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    border: none;
    box-shadow: 1px 2px 6px 2px rgb(0 0 0 / 15%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 105%;
    border-radius: 1em;
}

div.comment_area textarea:focus {
    outline: none;
}

div.comment_area textarea::-webkit-scrollbar {
    display: none;
}

div.comment_area h4 {
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

div.notific_profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;

}

div.notific_profile div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

strong {
    font-size: 90%;
}

div.comment_area p.comment_txt {
    font-size: 80%;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
}
div.notific_profile a img {
    border-radius: 2em;
    max-width: 5vw;
    max-height: 5vh;
    margin-right: 0.5em;
}

div.notific_profile p {
    color: black;
    font-size: 95%;
}

div.notific_profile p span {
    color: gray;
    font-size: 90%;
}

div.notific_profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}